html {
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#clear {
  margin: 5px;
}
#field {
  margin: 5px;
}
.done {
  color: #bd1717;
  text-decoration: line-through;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 100%;
}
.header {
  display: flex;
  order: 1;
  flex: 1 100%;
  align-content: center;
  justify-content: center;
  color: black;
  background-color: rgb(102, 0, 2); /* -10% */
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 20%;
}
.main {
  display: flex;
  order: 3;
  flex: 2;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 70%;
}
.leftSide {
  display: flex;
  order: 2;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(102, 0, 2);
  height: 70%;
  border-right: 5px solid red;
}
.rightSide {
  display: flex;
  order: 4;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  background-color: rgb(102, 0, 2);
  height: 70%;
  border-left: 5px solid red;
}
.footer {
  display: flex;
  order: 5;
  flex: 1 100%;
  background-color: rgb(51, 18, 0);
  height: 10%;
  justify-content: center;
}
canvas {
  border: 10px white;
  background-color: rgb(15,15,15);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
