<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Difficulty Level</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="Javascript.js"></script>
</head>

<body bgcolor="Black">
    <h1 id="DifficultyText">Choose Difficulty Level</h1>

    <a href="MainGamePageEasy.html">
    <img class="DiffButton center" src="/images/EasyButton.png">
    </a>
    <a href="MainGamePageMedium.html">
    <img class="DiffButton center" src="/images/MediumButton.png">
    </a>
    <a href="MainGamePageHard.html">
    <img class="DiffButton center" src="/images/HardButton.png">
    </a>

</body>
</html>