<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Difficulty Level</title>
    <link rel="stylesheet" type="text/css" href="/Stylesheet.css">
    <script src="Javascript.js"></script>
</head>

<body bgcolor="Black">
    <h1 id="DifficultyText">Choose Difficulty Level</h1>

    <a href="MainGamePage?level=easy">
    <img class="DiffButton center" src="/images/EasyButton.png">
    </a>
    <a href="MainGamePage?level=medium">
    <img class="DiffButton center" src="/images/MediumButton.png">
    </a>
    <a href="MainGamePage?level=hard">
    <img class="DiffButton center" src="/images/HardButton.png">
    </a>

</body>
</html>