<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stava med Maria</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="Javascript.js"></script>
</head>

<body bgcolor="black">

<audio autoplay>
    <source src="/images/Backgroundmusic.ogg" type="audio/ogg">
    <source src="/images/Backgroundmusic.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<img id="Title" src="/images/StavaMedMariaLogo.png" class="center">

    <canvas id="startcanvas" width="900" height="525" style="border:5px solid black;">
    </canvas>
    <div id="link-container">
        <a href="Difficulty.html">Start</a>
    </div>

    <script type="text/javascript">
        if ( window.addEventListener ) {  
          var state = 0, konami = [38,38,40,40,37,39,37,39,66,65];  
          window.addEventListener("keydown", function(e) {  
            if ( e.keyCode == konami[state] ) state++;  
            else state = 0;  
            if ( state == 10 )  
              window.location = "http://www.lingscars.com"; 
            }, true);  
        }  
        </script>

</body>

</html>