<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" type="text/css" href="/MainGamePageStyles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>

<body bgcolor="Black">
<div class="flex-container">
    <header class="header"><p class="center"></p></header>

    <div class="main">
        <img th:src="${img}" class="image">
    </div>
    <div class=leftSide>
        <br><br><br><br>
        What do you see in front of you?

    </div>
    <div class="rightSide">
        <br><br><br><br><br><br><br>
        Try to spell it correctly.<br>
        ...if you can!
    </div>
    <footer class="footer">
        <form id="formID" action="/Game" method="post">
            <input id="field" name="input">
            <input type="submit" value="Submit">
        </form>
    </footer>
</div>
</div>
</body>

</html>